*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #333;
}

ul, li, span, a, h1{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.logo{
    font-weight: 500;
}

.menu{
    display: flex;
    justify-content: space-between;
    background: #333;
    height: 50px;
    align-items: center;
    padding: 0 20px;
}

.menu-list{
    display: flex;
    column-gap: 20px;
}

.header-title{
    text-shadow: 2px 2px 4px #000;
}

.header-text{
    font-style: italic;
    font-size: calc(15px + 2vw);
}
